
@tailwind base;
@tailwind components;
@tailwind utilities;

/* #heading1 {
    color: red;
}

.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo{
    width: 100px;
}

.nav-items > ul{
    display: flex;
    list-style-type: none;
    font-size: 25px;
}
.nav-items > ul> li{
    padding: 10px;
    margin :10px;
}

.res-card{
    width:200px;
    height: auto;
    padding: 5px;
    margin: 5px;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
}

.res-container :hover{
    border: 1px solid black;
    cursor: pointer;
}

.search {
    padding: 10px;
}
.res-logo{
    width:100%;
}
.filter-btn{
    margin: 10px;cursor: pointer;padding: 10px;border-radius: 5px solid grey;
}
.shimmer-container{
    display: flex;
   
}
.shimmer-card{
    height: 400px;width:200px;background-color: #f0f0f0;margin: 10px;
}
.search-filter-container{
    display: flex;
}
.search-container{
    margin: 10px;
}
.search{
    cursor: pointer;
}
 */
